@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  src: local("Inter-Regular"),
    url("./common/utils/fonts/Inter-Regular.ttf") format("woff");
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
