@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  src: local("Inter-Regular"),
    url("./common/utils/fonts/Inter-Regular.ttf") format("woff");
}

body {
  width: 100%;
  overflow-x: hidden;
  background: #F7F7F7;
}

body,
* {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
